<html>

<head>
    {% if title %}
    <title>{{ title }} - Microblog</title>
    {% else %}
    <title>Home Page - Microblog</title>
    {% endif %}
</head>

<body>
    <nav>
        Microblog:
        <a href="/index">Home</a>
        <a href="/login">Login</a>
    </nav>
    <hr />
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>

</html>