<html>

<head>
    {% if title %}
    <title>{{ title }} - {{ _('Microblog') }}</title>
    {% else %}
    <title>{{ _('Home Page') }} - {{ _('Microblog') }}</title>
    {% endif %}
    {{ moment.include_moment() }}
    <style>
        body {
            font-family: 'Proxima Nova', Helvetica, sans-serif;
            background-color: #212529;
            color: #dee2e6;
        }

        a {
            color: #0d6efd;
        }

        a:hover,
        a:focus {
            color: #0a58ca;
        }

        a:visited {
            color: #a058fd;
        }
    </style>
    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}
</head>

<body>
    <nav>
        {{ _('Microblog') }}:
        <a href="{{ url_for('index') }}">{{ _('Home') }}</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">{{ _('Login') }}</a>
        {% else %}
        <a href="{{ url_for('explore') }}">{{ _('Explore') }}</a>
        <a href="{{ url_for('user', username=current_user.username) }}">{{ _('Profile')}}</a>
        <a href="{{ url_for('logout') }}">{{ _('Logout') }}</a>
        {% endif %}
    </nav>
    <hr />
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    <script>
        async function translate(srcEl, destEl, srcLang, destLang) {
            const spinner = document.createElement('img');
            spinner.src = "{{ url_for('static', filename='loading.gif') }}"

            const toTranslateEl = document.getElementById(srcEl);
            const translationEl = document.getElementById(destEl);
            while (translationEl.firstElementChild)
                translationEl.removeChild(translationEl.firstElementChild)

            translationEl.appendChild(spinner);

            try {
                const response = await fetch('/translate', {
                    method: 'POST',
                    headers: { 'content-type': 'application/json; charset=utf-8' },
                    body: JSON.stringify({
                        text: toTranslateEl?.innerText,
                        source_language: srcLang,
                        dest_language: destLang
                    })
                });

                const translation = await response.json().then(({ text }) => text);

                translationEl.removeChild(spinner);
                translationEl.appendChild(document.createTextNode(translation));
                return true;
            } catch (error) {
                console.error(error);
                return false;
            }
        }
    </script>
</body>

</html>